header {
background-color:rgb(226, 176, 111);
color:rgb(255, 225, 94) ;
/*background-image: /*link da imagem*/;
display:grid;

}
body {
background-color: rgb(226, 184, 125);
color:rgb(255, 255, 255)

}