:root{
    --imagem-de-fundo:graosdecafe.png;
}

header {
background-image: var(--imagem-de-fundo);
margin-top: 30 px;
margin-bottom:30 px ;

color:rgb(255, 225, 94) ;
/*background-image: /*link da imagem*/;


}
body {
background-color: #DDB77B;
color:rgb(255, 255, 255)

}